---
title: Le Wagon - Middleman
---
<div class="home">

  <div class="head">
    <p>HORAIRES: DU LUNDI AU VENDREDI | 8h - 19h </p>
  </div>

  <div class="gauche col-xs-12 col-sm-6">
    <div class="card">
      <p><span class="underline--magical">ORTHEZ > </span></p>
      <h1>Emma Erranti Shiatsu</h1>
      <p><span class="underline--magical">QU'EST-CE QUE LE SHIATSU? > </span></p>
    </div>

<!--     <div class="foot-gauche">
      <a href="#" title="GitHub">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" title="GitHub">
        <i class="fa fa-envelope"></i>
      </a>
    </div> -->

    <div class="socialLinks">
      <a href="https://twitter.com/MattyFours/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
      <a href="https://twitter.com/MattyFours/" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i><span>Email</span></a>
    </div>
  </div>

  <div class="droite col-xs-12 col-sm-6">
    <div class="card">
      <p>Coordonnées</p>
      <p>Tarifs</p>
    </div>
  </div>

</div>






